<div class="container mt-5">
  <div class="text-center">
    <h1>Welcome to Quotation Management</h1>
    <p class="lead">Efficiently manage all your quotations in one place.</p>
    <!-- <a routerLink="/createquotation" class="btn btn-primary btn-lg"
      >Create Quotation</a
    > -->
  </div>

  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Create New Quotations</h5>
          <p class="card-text">
            Easily generate new quotations and track them.
          </p>
          <a routerLink="/createquotation" class="btn btn-primary">Start Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">View All Quotations</h5>
          <p class="card-text">
            Access all created quotations and manage them efficiently.
          </p>
          <a class="btn btn-primary">View Quotations</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Veiw Rate Cards</h5>
          <p class="card-text">
            Veiw All Contractors and their Products and Manage them.
          </p>
          <a routerLink="/listratecard" class="btn btn-primary">Rate Cards</a>
        </div>
      </div>
    </div>
  </div>
</div>
